body {
    background: rgb(90, 142, 255);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.493);
}

#foto img {
    height: 200px;
    width: 200px;
    padding: 15px;
    border-radius: 2%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.493);

}

div {
    text-align: center;
}

div#msg {
    font-size: large;
    font-weight: bold;
    margin-bottom: 15px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
    font-size: small;

}